:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.Library input,
.Library textarea {
  border: none;
  width: 100%;
  background-color: transparent;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}
.Library {
  width: 95%;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 15px 30px;
  margin: 20px;
}
.box a {
  float: right;
  text-decoration: underline;
}
.delete a {
  color: red;
  opacity: 0;
  pointer-events: none;
}
.edit a {
  opacity: 0;
  margin-right: 10px;
  pointer-events: none;
}
.box:hover .delete a,
.box:hover .edit a {
  pointer-events: initial;
  opacity: 1;
  transition-duration: 0.1s;
  cursor: pointer;
}

.box ul {
  color: var(--varyDarkBlue);
  list-style-type: disclosure-closed;
}
.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}
.row1-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  #sidebar {
    width: 120px;
  }
  #viewport {
    margin-left: 120px;
    padding-left: 0;
  }
  .box {
    width: 100%;
  }
}
@media (max-width: 900px) {
  #sidebar {
    width: 150px;
  }
  #viewport {
    margin-left: 150px;
    padding-left: 0;
  }
  .box {
    width: 100%;
  }
}
